.contato{
	background-color: #ffffff;
	padding: 1em;
}

.contato__titulo, .contato__texto{
	background: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
}

.contato__titulo{
	font-weight: 500;
	font-size: 18px;
}

.contato__texto{
	font-weight: 300;
	margin: 1em 0;
}

.contato__email{
	padding: 1em;
	border: 1px solid #002F52;
	color: #002F52;
	border-radius: 24px;
	padding-left: 2.5em;
	width: 90%;
}

.contato__email::placeholder{
	font-family: 'Poppins', sans-serif;
	padding-left: 2.5em;
	background: url(../img/email_1.svg);
	background-repeat: no-repeat;
	color: #002F52;
}

@media screen and (min-width: 1024px){
	.contato{
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.contato__email{
		width: 30%;
	}

	.contato__titulo{
		font-size: 24px;
	}

	.contato__descricao{
		margin-right: 4em;
		width: 30%;
	}
}

@media screen and (min-width: 1728px){
	.contato{
		padding: 3em 20vw;
	}
}